.father{
    margin:0 30%;
    width: 800px;
    height: 1200px;
    display: flex;
    flex-direction: column;
}
.first{
    height:35%;
    width: 100%;
    background-color: #246abb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.second{
    width: 200px;
    height: 200px;
    background-color: #18467b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third{
    background-color: #246abb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

}
p{
    color:white;
    font-size: 20px;
}