.container{
    width: 1200px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    box-sizing: border-box;
    padding-bottom: 50px;
}
.elem{
    width: 200px;
    border: 1px solid black;
    box-sizing: border-box;
}
.head{
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
}
.content{
    text-align: center;
    height:150px;
    box-sizing: border-box;
    padding: 45px 0;
}
.bottom{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 30px;
}
.lm{
    border: 1px solid black;
    width: 150px;
    text-align: center;
}
p{
    margin: 0;
}
